---
import Layout from '../layouts/Layout.astro'; 
---

<Layout title="My Astro + Tailwind V4 Site">
    <main class="max-w-4xl mx-auto p-6">
        <h1 class="text-5xl font-extrabold text-primary mb-4">
            Astro + Tailwind V4
        </h1>
        <p class="text-lg text-gray-700">
            This paragraph is styled using Tailwind utility classes!
        </p>
    </main>
</Layout>